In [1]:
import pandas as pd

In [2]:
age = pd.Series([22,23,24],name="ages")

In [3]:
age

0    22
1    23
2    24
Name: ages, dtype: int64

In [4]:
age>23

0    False
1    False
2     True
Name: ages, dtype: bool

In [11]:
bage = age[age>23]

In [9]:
bage

   index  ages
0      2    24